<footer class="text-center py-3 mt-4">
<div class="f-info">
    <div class="f-info-social">
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-solid fa-language"></i>
    </div>
  <div>&copy;UbranOasis Private Limited</div>
  <div class="f-info-links">
    <a href="/privacy">privacy</a>
    <a href="/Term">Term</a>
  </div>
  <p class="mb-0">&copy; 2025 Your Company Name. All Rights Reserved.</p>
</div>

</footer>



