<% layout("layouts/boilerplate") %>
<h3>Create a New Listing</h3>
<form class="needs-validation"  validate method="POST" action="/listings" enctype="multipart/form-data">
  <div class="col-md-4">
    <label for="validationTitle" class="form-label">Title</label>
    <input name="listing[title]" placeholder="Enter title" type="text"  required />
    <div class="invalid-feedback">
      Title is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationDescription" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="Enter description"  required></textarea>
    <div class="invalid-feedback">
      Description is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationImage" class="form-label">Image URL/Link</label>
    <input name="listing[image]"  type="file"  required />
    <div class="invalid-feedback">
      Image URL is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationPrice" class="form-label">Price</label>
    <input name="listing[price]" placeholder="Enter price" type="number"  required />
    <div class="invalid-feedback">
      Price is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCountry" class="form-label">Country</label>
    <input name="listing[country]" placeholder="Enter country" type="text"  required />
    <div class="invalid-feedback">
      Country is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationLocation" class="form-label">Location</label>
    <input name="listing[location]" placeholder="Enter location" type="text"  required />
    <div class="invalid-feedback">
      Location is required.
    </div>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Add Listing</button>
  </div>
</form>
