/* Navbar styles */
.navbar {
    background-color: #155684;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar-brand i {
    color: #74C0FC;
    font-size: 24px;
}

.navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #ac2d2d;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.form-control {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 5px 10px;
    border: 1px solid #28a745;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #218838;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fill="%23000"%3E%3Cpath stroke="rgba%280, 0, 0, 0.5%29" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}